body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.w-100 {
  width: 100vw;
}
.h-100 {
  height: 100vh;
}

ul {
  list-style-type: none;
}

ul li {
  margin-top: 20px;
  border: 1px solid grey;
  border-radius: 25px;
  padding: 10px;
  transition: .5s;
}
ul li:hover {
  margin-top: 20px;
  border: 1px solid grey;
  border-radius: 25px;
  padding: 10px;
  background: red;
}
ul li p.users__email {
  color: grey;
  font-size: 9px;
}

ul li p.users__name {
  font-size: 17px;
  color: black;
  font-family: monospace;
}

input {
  width: 240px;
  background: #f7f7c6;
  color: grey;
  border-radius: 25px;
  margin-top: 20px;
  height: 39px;
  font-size: 22px;
  border: 0;
  padding: 3px;
  text-align: center;
}

button {
  width: 100px;
  height: 30px;
  border: 0;
  margin-top: 20px;
  background: orange;
  color: white;
  border-radius: 25px;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  left: 20px;
  width: 250px;
  height: auto;
  padding: 20px;
  background: red;
  color: white;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: .4s;
}
.modal:hover {
  background: blue;
}

h1 {
  background: orange;
  color: black;
  transform: skewY(2deg);
  padding: 30px 20px;
}

.space-around button {
  margin-top: 0;
}